.card-container{
    margin-top: 2%;
    padding: 0;
    background-color: #1A1B21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}
.card-info-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    
}
.card-info-container > img{
    border-radius: 10px 10px 0 0;
    width: 260px;
    height: 285px;
    object-fit: cover;
    object-position: 25% 25%; 
}
.card-info-name{
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}
.card-info-title{
    margin-top: -3px;
    font-size: 11.8px;
    color: #F3BF99;
}
.card-info-mail{
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-size: 10.24px;
}
.card-info-linkedinbtn{
  margin: 15px 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5093E2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.card-info-linkedinbtn:hover{
    background-color: #abc5e2;
}
.card-info-linkedinbtn > img{
    
        width: 16px;
        height: 16px;
        margin-right: 10px;
      
}
.card-about-container, .card-intrests-container{
    margin:10px  20px  0px  20px;
    max-width: 200px;
    color: white;
}

.card-about-title, .card-interests-title{
    font-size: 15px;
    font-weight: bold;
}
.card-about-content,.card-interests-content{
    font-size: 11px;
    font-weight: 100;
    margin: 0;
}
.card-footer-container{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    background-color: #151516;
    width: 240px;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}


.card-footer-container >img{
    width: 30px;
    transition: opacity 0.3s ease;
}
.card-footer-container >img:hover{
    opacity: 50%;
    cursor: pointer;
}
